header {
  padding-top: 50px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
#cart-img {
  max-width: 80px;
  width: 100%;
  height: auto;
}
.div-logo {
  margin-top: auto !important;
}

#banner {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}
#total-cart{
    font-size: 18px;
    font-weight: 800;
}
#items-cart {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
}
li > .active {
  text-decoration: underline;
}
.nav-item {
  padding-left: 20px;
}
.nav-link:hover {
  text-decoration: underline;
}
#cart-btn {
  background-color: transparent;
  border: none;
}
#logo {
  max-width: 344px;
  width: 100%;
  height: auto;
}
.nav-link{
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
}
.cart-itms-div {
  padding: 0px !important;
  margin: 0 !important;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
#banner-img {
  width: 100%;
}
.underline {
  border-bottom: 1px solid black;
}

#main {
  margin-top: 40px;
}
.btn-add-cart {
  background-color: #f2a950;
  border: 1px solid #cccccc;
  color: black;
  font-weight: 700;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-img {
  max-width: 175px;
  margin-top: 10px;
  width: 100%;
  height: 130px;
  margin-bottom: 10px;
}
.card {
  margin-top: 20px;
  width: 100%;
  padding-bottom: 0;
}
.card-title {
  font-size: 18px;
  font-weight: 700;
}
.card-text {
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 14.06px;
}
.navbar{
    background-color: #333A40;
}

.table-cart {
  margin-top: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

button.btn-add-cart {
  margin-top: auto;
}

@media (max-width: 768px) {
    nav{
        margin-top: 25%;
    }
    .navbar{
        background-color: #FDCD55;
    }
    .nav-link{
        color: #000000 !important;
        font-weight: 600;
    }
    #accept-btn-confirm, #cancel-btn-confirm{
        width: 100%;
    }

    #accept-btn-confirm{
        margin-top: 20%;
    }
    #pos-logo {
        position: fixed;
        top: 0;
        right: 0;
      }
      .modal{
          background-color: transparent !important;
      }
      .modal-content{
          margin-top: 30%;
      }
      header{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        background-color: white;
        border-bottom: none !important;
        text-align: center;
      }
      #btns-finish{
          text-align: center;
          margin-top: 30px;
      }
      #cart-img{
          height: 57px !important;
      }

      .card{
          margin: 10px 15%;
      }
      .cart-itms-div{
        padding-top: auto !important;
        padding-bottom: auto !important;
        vertical-align: middle !important;
      }
  #banner {
    display: none;
  }
  .nomobile {
    display: none;
  }
  .underline {
    border-bottom: none;
  }
  table{
    border: 1px solid #00000061;
    border-collapse: collapse;
      background-color: #C4C4C457 !important;
      
  }
  .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(odd)>th,.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #C4C4C457 !important; 
 }
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #C4C4C457; 
 }
.down {
  margin-top: auto;
}
.btn-modify {
  border-radius: 3px;
  margin-left: 5px;
  color: white;
  border: none;
  text-align: center;
  background-color: #fdcd55;
  width: 31px;
  height: 31px;
}
footer {
  margin: 40px;
  font-size: 12px;
}

.btn-cancel {
  background-color: #8c162c;
  border: 1px solid #000000;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  margin-right: 5px;
}
.btn-confirm {
  background-color: #708c32;
  border: 1px solid #000000;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
}

#cancel-btn-confirm {
  background-color: #8c162c;
  border: 1px solid #000000;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  margin-right: 5px;
}
#accept-btn-confirm {
  background-color: #708c32;
  border: 1px solid #000000;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
tbody,tr{
    border-top: none !important;
}
thead{
    border-bottom: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  margin-right: 10%;
  border: 1px solid #CCCCCC;
}
